<div class="main-nav-bar">
    <div class="logo">
        <a href="/">🔥 Recipe Manager</a>
    </div>
    <div class="nav-links">
        <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink href="/recipes" class="nav-link">Recipes</NavLink>
        <NavLink href="/recipes/new" class="nav-link">Create New</NavLink>
    </div>
</div>