@page "/recipes"
@using RecipeBazaarAi.WebApp.Components.Recipe.RecipeList

@inherits RecipeListBase

<div class="page-content-wrapper container">


    <div class="mb-8">
        <p class="lead text-muted-recipe">Browse and manage your favorite dishes.</p>
        <button class="btn btn-primary">Add New Recipe</button>
    </div>
    <RecipeList></RecipeList>
</div>